<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache">-->
        <!--<property name="timeToIdleSeconds" value="3600"/>&lt;!&ndash;1 hour&ndash;&gt;-->
        <!--<property name="timeToLiveSeconds" value="3600"/>&lt;!&ndash;1 hour&ndash;&gt;-->
        <!--<property name="maxEntriesLocalHeap" value="1000"/>-->
        <!--<property name="maxEntriesLocalDisk" value="10000000"/>-->
        <!--<property name="memoryStoreEvictionPolicy" value="LRU"/>-->
    <!--</cache>-->

    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
    </resultMap>

    <insert id="insert" parameterType="User">
        insert into users (id, first_name, last_name) values (#{id}, #{firstName}, #{lastName})
    </insert>

    <select id="findAll" resultMap="UserMap">
        select
            id, first_name, last_name
        from
            users
    </select>

    <select id="find" parameterType="string" resultMap="UserMap">
        select id, first_name, last_name
        from users
        where id = #{id}
    </select>

</mapper>